@model IEnumerable<InsuranceDatabase.Documents>

@{
    ViewData["Title"] = "Index";
}

<h1>Договори</h1>
<div>
    <h3>Оберіть excel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Documents", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
<div>
    Завантажте Excel-файл:
    <input type="file" name="fileExcel" id="fileExcel" />
    <div>
        <input type="submit" value="Завантажити" />
    </div>
    @if (ViewBag.ErrorMes != null)
    {
        <div class="alert alert-dismissible alert-danger">
        <strong>@ViewBag.ErrorMes</strong> Виправте файл та спробуйте знову
        </div>
    }
</div>
    }
</div>
<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>
<p>
    <a asp-action="Create" asp-route-bbrokerId="@ViewBag.BrokerDocId" asp-route-cclientId="@ViewBag.ClientDocId">Додати договір</a>
</p>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Broker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">

                <td>
                    @Html.DisplayFor(modelItem => item.Broker.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-bDocId="@ViewBag.BrokerDocId" asp-route-clDocId="@ViewBag.ClientDocId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-brokerId="@ViewBag.BrokerDocId" asp-route-clientId="@ViewBag.ClientDocId">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-brokerId="@ViewBag.BrokerDocId" asp-route-clientId="@ViewBag.ClientDocId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>


